@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
  font-family: 'Source Code Pro';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --grey-dark: #333333;
  --white: #ffffff;
  --padding-s: 10px;
  --padding-m: 16px;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 1em;
}

section {
  margin: 1em 0;
  padding: 1em;
  outline: 1px solid green;
}

.screen h1 {
  font-size: 3.7rem;
  font-family: "Arvo", serif;
  text-align: center;
  padding: 10px;
  line-height: 60px;
  word-spacing: 10px;
  text-shadow: 3px 0 #08931f;
}

.screen h6 {
  font-size: 1.5rem;
  margin: 5px;
}

/* Section labels */
h3 {
  font-size: 2rem;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.466);
  box-shadow: 3px 3px 10px rgba(185, 183, 183, 0.3);
  width: min(max(20%, 400px), 100%);
  text-align: center;
  margin: 3px auto ;
  border-radius: 10px;
  padding: 5px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 10px #37e10c, 0 0 20px #56ef54, 0 0 30px #06b32c, 0 0 40px #47ec31, 0 0 50px #165e06, 0 0 60px #038d18;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #6eff4d, 0 0 30px #095a12, 0 0 40px #038a0e, 0 0 50px #02660e, 0 0 60px #036425, 0 0 70px #2ebe03;
  }
}

/* Character Names */
h4 {
  font-size: 1.7rem;
  background: green;
  padding: 0.3em;
}

h5 {
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 1px;
  border-bottom: 1px solid #00ace9;
  margin-bottom: -0.4em;
  /* outline: 1px solid blue; */
}

img {
  border-radius: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
}

a {
  color: white;
}

@media (min-width: 760px) {
  /* changes for ipad/tablet sizes */
  h1 {
    font-size: 4.6rem;
  }

  h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  /* Character Names */
  h4 {
    font-size: 2.3rem;
    padding: 0.3em;
  }

  h5 {
    font-size: 2.3rem;
    padding-top: 10px;
  }

  p,
  a {
    font-size: 1.2rem;
    padding: 5px;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

.screen {
  background-color: var(--grey-dark);
  color: white;
  border: 1px none;
  width: 100%;
  position: relative;
  max-width: 70em;
  margin: auto;
  padding: 1em var(--padding-m);
  /* outline: 1px solid red; */
}


/**********************************************************************
*
* Footer styles
*
**********************************************************************/

footer {
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: auto;
  width: 100%;
}

.note-footer {
  background-color: #00000050;
  color: white;
  padding: 1em 0 2em 0;
}

.note-footer a {
  color: #4caf50;
}

.note-footer a:hover {
  color: white;
}

/**********************************************************************
*
* Navbar styles
*
**********************************************************************/

.nav .navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
  list-style: none;
}

.nav .navbar-container li {
  padding: 0 10px;
}

.nav .navbar-container a {
  display: block;
  position:relative;
  line-height: 120%; 
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.nav .navbar-container a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: lightgreen;
    transform-origin: bottom right;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}
.nav .navbar-container a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}
.nav .navbar-container a:hover {
  color: limegreen;
}

.icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav .navbar-container a{display: none;}
  .nav .icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .nav.responsive .navbar-container{
    display: block;
    background-color:#333;
    padding-top: 17px;
  }
  .nav.responsive .navbar-container a{
    float: none;
    display: block;
    text-align: left;
    padding:5px;
  }
  .nav.responsive .navbar-container a:hover{
    color:#333333;
    background-color:#ccc;
  }
  
}
/**********************************************************************
*
* Back to Top Button styles
*
**********************************************************************/

html {
  scroll-behavior: smooth;
}

#backToTop {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #4CAF50; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
  font-weight: 700;
}

#backToTop:hover {
  background-color: #555; 
}

