@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --black: #000000;
  --grey-dark: #333333;
  --white: #ffffff;
  --padding-s: 10px;
  --padding-m: 16px;
}

section {
  margin: 1em 0;
  padding: 1em;
  outline: 1px solid green;
}

.screen h1 {
  font-size: 3.7rem;
  font-family: 'Arvo', serif;
  text-align: center;
  padding: 10px;
  line-height: 60px;
  word-spacing: 10px;
  text-shadow: 3px 0 #08931f;
}
.screen h6{
  font-size: 1.5rem;
  margin: 5px;
}

/* Section labels */
h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Character Names */
h4 {
  font-size: 1.7rem;
  background: green;
  padding: 0.3em;
}

h5 {
  font-size: 1.5rem;
  padding-top: 10px;
  padding-bottom: 1px;
  border-bottom: 1px solid #00ace9;
  margin-bottom: -0.4em;
  /* outline: 1px solid blue; */
}

img {
  border-radius: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  height:400px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  display: block;
}

@media (max-width: 760px) {
  .character img {
    width: 100%;
  }
}

a {
  color: white;
}

@media (min-width: 760px) {
  /* changes for ipad/tablet sizes */
  h1 {
    font-size: 4.6rem;
  }

  h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  /* Character Names */
  h4 {
    font-size: 2.3rem;
    padding: 0.3em;
  }

  h5 {
    font-size: 2.3rem;
    padding-top: 10px;
  }

  .character img {
    height: 350px;
    max-width: 100%;
  }

  p,
  a {
    font-size: 1.2rem;
    padding: 5px;
    line-height: 25px;
  }
}

.screen {
  background-color: var(--grey-dark);
  color: white;
  border: 1px none;
  width: 100%;
  position: relative;
  max-width: 70em;
  margin: auto;
  padding: 1em var(--padding-m);
  /* outline: 1px solid red; */
}

.character {
  margin: 1.5em 0;
}

/**********************************************************************
*
* Accordion styles
*
**********************************************************************/

.collapsible {
  cursor: pointer;
}

.active, .collapsible:hover {
  background-color: #4CAF50;
}

.content {
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #555;
}

.content p {
  padding: 1em;
}