/**********************************************************************
*
* Styles just for the cast-crew.html page.
* These styles override default.css.
*
**********************************************************************/

/**********************************************************************
*
* Cast
*
**********************************************************************/

#cast-rows {
  width: 100%;
}

span.cast-role {
  /* outline: 1px solid red; */
}

span.cast-name {
  padding-left: 30px;
  /* outline: 1px solid green; */
}


/**********************************************************************
*
* Crew
*
**********************************************************************/

#crew-rows {
  width: 100%;
}

span.crew-role {
  /* outline: 1px solid red; */
}

span.crew-name {
  padding-left: 30px;
  /* outline: 1px solid green; */
}