/**********************************************************************
*
* Styles just for the cast-crew.html page.
* These styles override default.css.
*
**********************************************************************/
@media screen and (max-width: 600px) {
  span {
    font-size: 10px;
  }

}
/**********************************************************************
*
* Cast
*
**********************************************************************/
.cast-section{
  max-height: 500px; 
  width: 100%;
  overflow: auto;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  background-image: linear-gradient(rgb(2, 116, 2),black);
  margin-bottom: 50px;
}

.crew-section{
  max-height: 500px; 
  width: 100%;
  overflow: auto;
  box-shadow: 3px 3px 10px rgb(0, 0, 0);
  background-image: linear-gradient(rgb(2, 116, 2),black);

}

#fake{ 
  display: flex;
  justify-content: space-around;
  font-size: 28px;
  padding: 15px;
  color:rgb(255, 255, 255);
}
.cast-section #cast-rows{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

  
}
.crew-section #crew-rows{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
  
}

#cast-rows {
    width: 100%;
    
}

span.cast-role {
  /* outline: 1px solid red; */
}

span.cast-name {
  padding-left: 30px;
  /* outline: 1px solid green; */
}


/**********************************************************************
*
* Crew
*
**********************************************************************/

#crew-rows {
  width: 100%;
}

span.crew-role {
  /* outline: 1px solid red; */
}

span.crew-name {
  padding-left: 30px;
  /* outline: 1px solid green; */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(215, 215, 215); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(33, 175, 5); 
  border-radius: 10px;
  border: 2px solid rgb(2, 40, 1);
}

/* Handle on hover */s
::-webkit-scrollbar-thumb:hover {
  background: #015b02; 
}
