/**********************************************************************
*
* Styles just for the cast-crew.html page.
* These styles override default.css.
*
**********************************************************************/
@media screen and (max-width: 600px) {
  span {
    font-size: 8.2px;
  }
}
/**********************************************************************
*
* Cast
*
**********************************************************************/
#fake{
  display: flex;
  justify-content: space-around;
  font-size: 28px;
  padding: 15px;
  color:rgb(255, 255, 255);
}
.cast-section #cast-rows{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.crew-section #crew-rows{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#cast-rows {
  width: 100%;
}

span.cast-role {
  /* outline: 1px solid red; */
}

span.cast-name {
  padding-left: 30px;
  /* outline: 1px solid green; */
}


/**********************************************************************
*
* Crew
*
**********************************************************************/

#crew-rows {
  width: 100%;
}

span.crew-role {
  /* outline: 1px solid red; */
}

span.crew-name {
  padding-left: 30px;
  /* outline: 1px solid green; */
}
