/**********************************************************************
*
* Styles just for the games.html page.
* These styles override default.css.
*
**********************************************************************/

/*games-section-heading */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/*games -section-para */
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');


/*games-section-style */

.games-section p {
    text-align: justify;
    padding-left: 3vw !important;
    padding-right: 3.3vw !important;
}

.highlight{
    font-weight: bold;
    color:lightgreen;
}

.games-section .heading {
    font-family: 'Young Serif', serif;
    font-weight: 800;
    font-size: 1.8rem;
    padding-left: 20px;
    letter-spacing: 1px;
}

.games-section .para {
    font-family: 'Bitter', serif;
    font-weight: 400;
    line-height: 33px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.games-section .para span {
    font-weight: 900;
    letter-spacing: 2.2px;
    /*border-bottom: 1px solid white;*/
    text-decoration: underline;


}

.heading .align {
    font-size: 2.2rem;
    font-family: Arial;
    text-align: justify;

}

/**********************************************************************
*
* Accordion styles
*
**********************************************************************/

.collapsible {
    cursor: pointer;
}

.active,
.collapsible:hover {
    background-color: #4caf50;
}

.collapsible:after {
    content: '\23f7';
    /* Unicode character for "triangle down" */
    font-size: 2.3rem;
    color: white;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\23f6';
    /* Unicode character for "triangle up" */
}

.content {
    padding: 0 1em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #555;
}

.content p {
    padding: 1em;
}

/**********************************************************************
*
* Images styles
*
**********************************************************************/
.photo-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
    text-align: center;
}
  
.photo-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
  
.photo-gallery img:hover {
    transform: scale(1.05);
}
