/**********************************************************************
*
* Styles just for the scenes.html page.
* These styles override default.css.
*
**********************************************************************/

@media (min-width: 760px) {
  /* changes for ipad/tablet sizes */

  /* favourite scenes page media queries */
  .images {
    justify-content: center;
  }
}

.scenes-container {
  width: 100%;
  height: 100%;
}

.scenes-heading {
  background-color: #018307;
  text-align: center;
  padding: 15px;
  margin: 10px 0 20px 0;
  font-size: 1.5rem;
}

.images {
  max-width: 1080px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
  object-fit: cover;
}

.videos {
  display: flex;
  justify-content: center;
  flex-direction: row;
  column-gap: 10px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.images img {
  height: 200px;
  width: 200px;
  transition: transform 0.3s ease-in-out;
}

.images img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(1, 244, 1, 0.654); /* Add a background glow effect on hover */
}
